@font-face {
	font-family: 'arberkley';
	src: url('quadranta.otf') format('truetype'),
		url('quadranta.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: arberkley, sans-serif;
	font-size: 10em;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

header {
	text-align: center;
	display: flex;
	position: absolute;
	top: 1em;
	left: 1em;
}

header div {
	height: 1em;
	width: 40px;
	background-color: rgba(0, 0, 0, 0.5);
}

video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
}

#pause {
	margin-left: 40vw;
}

#pause button {
	display: block;
	width: 20%;
	padding: .4rem;
	border: none;
	margin: 1rem auto;
	font-size: 1.3rem;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s background;
	position: absolute;
}

#pause button:hover {
	background: rgba(255, 255, 255, 0.23);
}

#bg {
	position: absolute;
	left: 1vw;
	display: relative;
	margin-top: 50vh;
	/* poussé de la moitié de hauteur de viewport */
	transform: translateY(-50%);
	/* tiré de la moitié de sa propre hauteur */
	cursor: pointer;
}

#bd {
	position: absolute;
	right: 1vw;
	margin-top: 50vh;
	/* poussé de la moitié de hauteur de viewport */
	transform: translateY(-50%);
	/* tiré de la moitié de sa propre hauteur */
	cursor: pointer;
}

section {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	align-items: center;
}

.goButton {
	display: none;
	position: absolute;
}

.goButton button {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s background;
	padding: .4rem;
	font-size: 1.3rem;
}

.goButton button:hover {
	background: rgba(255, 255, 255, 0.23);
}

#restart {
	margin-top: 28vh;
}

#debut {
	margin-top: 35vh;
}

.dirButton {
	display: none;
}

.cafet {
	position: absolute;
	z-index: 1000;
	display: none;
}

#machine {
	height: 30em;
	width: 13vw;
	margin-left: 20vw;
	margin-top: 13vh;
	cursor: pointer;
}

#parapluie {
	height: 10em;
	width: 10vw;
	margin-left: 53vw;
	margin-top: 70vh;
	cursor: pointer;
}

#echarpe {
	height: 8em;
	width: 10vw;
	margin-left: 71vw;
	margin-top: 50vh;
	cursor: pointer;
}

.combat {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s background;
	padding: .4rem;
	font-size: 1.3rem;
	display: none;
	position: absolute;
}

.combat:hover {
	background: rgba(255, 255, 255, 0.23);
}

#up {
	margin-left: 40vw;
	margin-top: 20vh;
}

#down {
	margin-left: 27vw;
	margin-top: 70vh;
}

.combat2 {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s background;
	padding: .4rem;
	font-size: 1.3rem;
	display: none;
	position: absolute;
}

.combat2:hover {
	background: rgba(255, 255, 255, 0.23);
}

#up2 {
	margin-left: 40vw;
	margin-top: 20vh;
}

#down2 {
	margin-left: 27vw;
	margin-top: 65vh;
}

#decor {
	margin-left: 43vw;
	display: none;
	width: 22%;
	padding: .4rem;
	border: none;
	margin-top: 90vh;
	font-size: 1.3rem;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s background;
	position: absolute;
	text-align: center;
}

#nom {
	position: absolute;
	width: 100vw;
	text-align: center;
	margin-top: 40vh;
	font-size: 5em;
	color: white;
	display: none;
	font-family: arberkley, sans-serif;
}

#real {
	position: absolute;
	margin-left: 18vw;
	margin-top: 45vh;
	font-size: 5em;
	color: white;
	display: none;
	font-size: 2em;
	text-align: center;
	font-family: arberkley, sans-serif;
}

#img-para, #img-ech {
	position: absolute;
	top: 1em;
	right: 1em;
	display: none;
}